body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(213, 213, 233);
}
form {
  display: flex;
  flex-direction: column;
  margin: 10rem;
  gap: 10px;
  background-color: rgb(213, 213, 233);
}
.input {
  border: 0.2rem solid green;
  border-radius: 10px;
}
